#wordle{
    text-align: center;
    text-shadow: 0px 0px 2px rgb(129, 147, 24);
    font-family: 'Aclonica', Times, serif;
    font-size:80px;
    color :royalblue;
    margin-bottom: 5px;
    
    margin:auto;
  
}
.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}
.keyboard--hidden {
  bottom: -100%;
}
.keyboard__keys {
  text-align: center;
}
.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}
.keyboard__key--wide {
  width: 12%;
}
.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}
.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.keyboard__key--active::after {
  background: #08ff00;
}
.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}
#used{
  font-size: 20px;
  margin-right: 25%;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#myButton{
  width:75px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  margin-top: 150px;
  margin-left:20%;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display : none;
  cursor: pointer;

}

#result{
  margin-bottom: 50%;
    text-align: center;
    font-size: 50px;
    width: 400px;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

body{
    background-color:lightgrey;
    text-align: center
}

#gameBorder{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    width: 375px;
    text-align: center;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    
}

.boxes{
    background-color: white;
    height: 60px;
    width: 60px;
    border: 3px solid;
    margin-top: 10px;
    margin-left: 32%;
    text-align: center;
    border-radius: 15px;
    font-size: 45px;
    font-weight: bold;
    
    
}

#menu{
    position:absolute;
    width: 50px;
    height: 50px;
    
    top: 43px;
    left: 30px;
}


#menucontents {
    position: fixed;
    top: 0;
    left: -100%; 
    width: 200px; 
    height: 100%;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.5s ease; 
  }
  
  #menucontents.active {
    left: 0; 
  }
  
  #contents {
    list-style: none;
    padding: 20px;
    margin: 0;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
  }
  
  #contents li {
    margin-bottom: 10px;
  }
  
  #menuimage {
    cursor: pointer;
  }
  
  #menu {
    width: 30px;
    height: 30px;
  }


a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}


a:visited{
    color:rgb(255, 255, 255);
    text-decoration: none;
}